<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class="box" id="heading">
      <h1><%= today %></h1>
      <h2>To do list</h2>
    </div>

    <div class="box">
      <% for (var i=0; i< toDoItem.length; i++) { %>
          <div class="item">
            <input type="checkbox" name="" value="">
            <p><%= toDoItem[i] %></p>
          </div>
      <%  } %>
    </div>

    <form class="" action="/" method="post">
      <input type="text" name="item" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </body>

</html>
